Flask==2.1.2 
Flask-SocketIO==5.2.0
#pip install Flask Flask-SocektIO
# To run the server, use venv\Scripts\activate then do python server.py or py server.py

collaborative-whiteboard/
│
├── server.py                  # Flask server
├── requirements.txt            # Dependencies
├── .gitignore                  # Git ignore rules
│
├── static/                     # For CSS and JS files
│   ├── js/
│   │   └── whiteboard.js       # JavaScript file for drawing functionality
│   └── css/
│       └── style.css           # CSS file for whiteboard styles
│
└── templates/                  # HTML templates
    └── index.html              # Main frontend interface

